.productListCustomer {
  display: flex;
  flex-wrap: wrap;
  gap: 60px 40px;
 
  max-width: 700px;
  margin: 0 auto;
  justify-content: center;
}

.loadingMessage,
.errorMessage {
  text-align: center;
  font-size: 1.2rem;
  padding: 4rem;
  color: #555;
}

@media (max-width: 600px) {
  .productList {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }
} 