.statCard {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
  
   width: 355px;
   padding: 25px 0px 28px 39px;
  
   font-family: 'Lato', sans-serif;
   font-weight: 700;
   background-color: #DFDFDF;
   border-radius: 20px;
  }
  
  .statCard.actionCard {
    cursor: pointer;
  }
  
  .statCard:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  }
  
  .statValue {
    font-size: 128px;
    line-height: 1;
    margin-bottom: 13px;
  }
  
  .actionIcon {
    width: 89px;
    height: 89px;
    padding: 20px 0px 33px 0px;
  }
  
  .cardTitle {
    font-size: 32px;
    color: #454B60;
  } 